@charset "UTF-8";

html, body {
	width: 100%;
	height: 100%;
	margin: 0px;
	padding: 0px;
	overflow: hidden;
}

/* 가운데 정렬을 위한 table 레이아웃(의미없음) */
#cover {
	display: table;
	height: 100vh;
	width: 100%;
}

/* 가운데 정렬을 위한 table 레이아웃(의미없음) */
#cover-inner {
	display: table-cell;
	vertical-align: middle;
	text-align: center;
}

.inner-wrapper { /* 이 안에서 움직이도록 할 것임 */
	width: 550px;
	margin: 0 auto;
	background: white;
	box-sizing: border-box;
	border-radius: 0.4rem !important;
}

/*================================================*/
.message-box {
	display: flex;
	padding: 1rem;
}

.message_area { /* 메시지 전송창 전체 div*/
	height: 500px;
	overflow-x: hidden;
	overflow: auto;
	width: 70%;
	padding: 0.5rem;
}

.memListBox {
	width: 30%;
	text-align: center;
	overflow: auto;
	text-align: center;
	padding: 0.5rem 0 0.5rem 0.5rem;
}

.listTitle {
	height: 50px;
	vertical-align: top;
	font-size: 12px;
	font-weight: bold;
}

.memList {
	vertical-align: top;
}

/*================================================*/
.incoming_msg {
	text-align: left;
	overflow: hidden;
    margin: 26px 0 26px;
}

.incoming_msg_img {
	margin-top: 4px;
	display: inline-block;
	width: 6%;
}

.incoming_msg_img img {
	width: 100%;
}

.received_msg {
	display: inline-block;
	padding: 0 0 0 10px;
	vertical-align: top;
	width: 80%;
}

.received_user {
	display: inline-block;
	font-size: 10px;
}

.received_withd_msg p {
	background: #ebebeb none repeat scroll 0 0;
	border-radius: 0 15px 15px 15px;
	color: #646464;
	font-size: 14px;
	margin: 0;
	padding: 5px 10px 5px 12px;
	width: 100%;
}

.time_date {
	color: #747474;
	display: block;
	font-size: 12px;
	margin: 8px 0 0;
}

.received_withd_msg {
	width: 57%;
}

/*================================================*/
/* 나의 메시지  */
.outgoing_msg {
	overflow: hidden;
	margin: 26px 0 26px;
}

.sent_msg {
	float: right;
	width: 46%;
	text-align: left;
}

.sent_user {
	display: inline-block;
	font-size: 10px;
}

.sent_msg p {
	background: #0465ac;
	border-radius: 12px 15px 15px 0;
	font-size: 14px;
	margin: 0;
	color: #fff;
	padding: 5px 10px 5px 12px;
	width: 100%;
}

/*================================================*/
.send-box {
	display: flex;
}

.noticeTxt {
	clear: both;
	font-size: 10px;
	padding-top: 5px;
	padding-bottom: 5px;
	padding-left: 20px;
	padding-right: 20px;
	background: #ffcb2f;
	border-radius: 3px;
	color: white;
	margin: 1rem 0.5rem;
}

.enter {
	color: blue;
	size: 1px;
}

.exit {
	color: red;
	size: 1px;
}

.send-box {
	width: 100%;
}

.sendTxt {
	width: 100%;
	float: right;
	margin: 2px;
	word-break: break-word;
	box-sizing: border-box;
	padding: 10px;
}

.sender_msg {
	float: right;
	text-align: left;
}

.sender_msg {
	background: #0465ac;
	border-radius: 12px 15px 15px 0;
	font-size: 14px;
	margin: 0;
	color: #fff;
	padding: 5px 10px 5px 12px;
}

.input_msg_write input {
	background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
	border: medium none;
	color: #4c4c4c;
	font-size: 15px;
	min-height: 48px;
	width: 100%;
	outline: none;
}

.input_msg_write {
	display: flex;
}

.type_msg {
	border-top: 1px solid #c4c4c4;
	padding: 0.5rem 1.5rem;
}

.msg_send_btn {
	background: #05728f;
	border: none;
	border-radius: 50%;
	color: #fff;
	cursor: pointer;
	font-size: 15px;
	height: 33px;
	width: 33px;
}

.btn-box {
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.receiver_img { /*상대방 메시지 css width:200px;*/
	height: 200px;
	border: 1px solid;
	background-clip: border-box;
	padding: 10px;
	float: left;
}

.chat_div {
	border: 0;
	border-radius: 15px;
	color: white;
	height: 60px;
	overflow-y: auto;
	opacity: 1;
	margin-top: 0px;
	padding-top: 15px;
	padding-bottom: 15px;
	display: flex;
	justify-content: center;
	align-items: center;
	box-sizing: inherit;
}

.chat {
	width: 340px;
	height: 20px;
	padding: 5px;
	float: left;
	margin-top: 4px;
	margin-left: 2px;
	resize: none;
	border: 0.5px solid #F3F3F3;
}

.chat:focus {
	outline: none;
}

.file_btn {
	margin: 0px;
	background: #05728f;
	border-radius: 50%;
	color: #fff;
	cursor: pointer;
	font-size: 15px;
	height: 33px;
	width: 33px;
}

.mem_icon {
	padding: 0px;
	display: inline-block;
	float: left;
}

.receiveTxt {
	width: 172px;
	float: left;
	margin: 2px;
	word-break: break-word;
}

.txtarea {
	flex: 1;
	height: 60px;
	margin: 0px;
	border: 0px;
	padding: 15px 10px;
}

#message_btn {
	border-radius: 0px 15px 15px 0px;
}

#fileForm {
	display: flex;
	justify-content: center;
	align-items: center;
	vertical-align: middle;
}

/* @charset "UTF-8"; */
/* @import url(//fonts.googleapis.com/earlyaccess/jejugothic.css); */

/*    body{ */
/*       padding: 0px; */
/*       font-family: 'Jeju Gothic', sans-serif; */
/*    } */

/*    table{ */
/*       border: 1px solid #B4B4B4; */
/*       border-collapse: collapse; */
/*    } */

/*    .sender_img{ */
/*       border: 6px solid; */
/*       background-color: #69B55B;  */
/*       background-clip: padding-box; */
/*       -webkit-border-image: url(images/sender_bubble.png) 25 25 round; */
/*       -o-border-image: url(images/sender_bubble.png) 25 25 round; */
/*       border-image: url(images/sender_bubble.png) 25 25 round;  */
/*       padding-top: 3px; */
/*       padding-bottom: 3px; */
/*       padding-left: 3px; */
/*       padding-right: 11px; */
/*       float: right; */
/*       font-size: 12px; */
/*       text-align: justify; */
/*    } */

/*    .receiver_img{ */
/*       border: 6px solid; */
/*       background-color: #E6F4B5;  */
/*       background-clip: padding-box; */
/*       -webkit-border-image: url(images/receiver_bubble.png) 25 25 round; */
/*       -o-border-image: url(images/receiver_bubble.png) 25 25 round; */
/*       border-image: url(images/receiver_bubble.png) 25 25 round;  */
/*       padding-top: 3px; */
/*       padding-bottom: 3px; */
/*       padding-right: 3px; */
/*       padding-left: 11px; */
/*       float: left; */
/*       font-size: 12px; */
/*       text-align: justify; */
/*    } */

/*    .receive_msg{ */
/*       padding: 3px; */
/*       width: 350px; */
/*       height: 400px; */
/*       overflow: auto; */
/*       overflow-x: hidden; */
/*       background: #F3F3F3; */
/*    } */

/*    .chat{ */
/*       width: 340px; */
/*       height: 35px; */
/*       padding: 5px; */
/*       float:left;  */
/*       margin-top:4px;  */
/*       margin-left: 2px; */
/*       resize: none; */
/*       border: 0.5px solid #F3F3F3; */
/*    } */

/*    .chat:focus{ */
/*       outline: none; */
/*    } */

/*    .chat_btn{ */
/*       margin-top: 0px; */
/*       margin-left: 5px; */
/*       width: 52px; */
/*       height: 31px; */
/*       background-image: url('images/btn_send.png'); */
/*       background-size: 100% 100%; */
/*       display: inline-block; */
/*    } */

/*    .memListBox{ */
/*       text-align: center;  */
/*       vertical-align: text-top;  */
/*       padding: 10px;  */
/*       overflow: auto; */
/*       background: #D8D8D8; */
/*    } */

/*    .listTitle{ */
/*       height:50px;  */
/*       vertical-align: top;  */
/*       font-size: 12px;  */
/*       font-weight: bold; */
/*    } */

/*    .mem_icon{ */
/*       padding: 0px; */
/*       display : inline-block; */
/*       float: left; */
/*    } */

/*    .memList{ */
/*       vertical-align: top; */
/*    } */

/*    .noticeTxt{ */
/*       clear:both; */
/*       margin: 10px; */
/*    } */

/*    .noticeTxt font{ */
/*       padding-top: 5px; */
/*       padding-bottom: 5px; */
/*       padding-left: 20px; */
/*       padding-right: 20px; */
/*       background: white; */
/*       border-radius: 3px; */
/*    } */

/*    .sendTxt{ */
/*       width:172px;  */
/*       float:right;  */
/*       margin:2px;  */
/*       word-break:break-word; */
/*    } */

/*    .receiveTxt{ */
/*       width:172px;  */
/*       float:left;  */
/*       margin:2px;  */
/*       word-break:break-word; */
/*    } */