<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd" >
<configuration>
   <!-- 있어도 되고 없어도 되는 DTO를 선언하여 Alias를 통해 쉽게 사용! -->
   <typeAliases>
      <typeAlias type="happy.land.people.dto.LPUserDto" alias="UserDto"/>
   </typeAliases>
   
   <!-- 데이터 베이스 커넥션 환경 : SpringFramework이 Bean으로 제공 -->

   <!-- Statement(쿼리 문장) 있는 XML을 연결 -->
   <mappers>
      <mapper resource="happy/land/people/mapper/UserMapper.xml"/>
      <mapper resource="happy/land/people/mapper/ManagerMapper.xml"/>
      <mapper resource="happy/land/people/mapper/SketchMapper.xml"/>
      <mapper resource="happy/land/people/mapper/CanvasMapper.xml"/>
      <mapper resource="happy/land/people/mapper/DaysMapper.xml"/>
      <mapper resource="happy/land/people/mapper/FreeMapper.xml"/>
      <mapper resource="happy/land/people/mapper/ChatMapper.xml"/>
   </mappers>
</configuration>