@charset "UTF-8";

/*---------------- 모달 스타일 ---------------------- */
.modal-content {
	color: black;
}

.modal-footer>:not (:last-child ) {
	margin-right: .25rem;
}

/* 스케치북 커버이미지 div */
#moSketchBookCover {
    width: 100%;
    height: 200px;
}

#modalIMG2{
	border: 1px solid #cccccc;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	height:100%;
}

/* 스케치북 커버이미지 div의 이미지 영역 */
#modalIMG1 {
	border: 1px solid #cccccc;
	height:100%;
	/* float: left; */
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
}

#sketchtitle{
	width:100% !important;
}

#modiSketchTitle{
	width:100% !important;
}

.modal-close{
	margin-right: 1rem;
}


#C_IMG1-label{
	display: block;
    float: right;
    padding: 0.8rem;
    color : white !important;
	font-size: 30px;
}

#C_IMG1-label:hover{
	color: #dddfeb !important;
}

.cover-label-label{
	font-size: 13px;
}

.cover-label{
	margin-bottom: 3px;
}

.themeradio {
	display: flex;
	justify-content: space-between;
}

/* 라디오버튼 숨기기 */
.themeradio input[type=radio] {
	display: none;
	margin: 10px;
	display: none;
}
/* 라디오버튼 직사각형 버튼 모양 만들기 */
.themeradio input[type=radio]+label {
	flex: 1;
	flex-basis: auto;
	/* 	display: inline-block; */
	margin: -2px;
	padding: 8px 19px;
	background-color: #f5f5f5;
	border: 1px solid #ccc;
	font-size: 13px !important;
	text-align: center;
	cursor: pointer;
}

/* 라디오버튼 직사각형 버튼 모양 만들기 */
.themeradio input[type=radio]+label:hover {
    color:red;
}

/* 선택한 라디오버튼 배경색 변경 */
.themeradio>input[type=radio]:checked+label {
	background-image: none;
	background-color: #3598dc;
	color: #fff;
}