@charset "UTF-8";
@import url('https://fonts.googleapis.com/css?family=Do+Hyeon&display=swap');

.head-title{
/* 	display:flex; */
	border-bottom : 1px solid #e6e6e6;
	height: 80px;
	margin-bottom: 20px;
}

.title{
	float : left;
	margin-top : 50px;
	font-size: large;
	font-family: 'Do Hyeon', sans-serif;
 }
 
.back{
	float : left;
	margin : 10px 0px 30px 10px;
	width: 32px;
	height: 32px;
	cursor: pointer;
}

.imageDown{
	margin-left: 72px;
	margin-top : 15px;
	width: 64px;
	height: 64px;
	float: left;
	text-align: center;
}

.excelDown{
	margin: 15px 20px 0px 20px;
	width: 64px;
	height: 64px;
	float: left;
	text-align: center;
}

.article-canvasContent{
	height: 650px;
	margin-bottom: 10px;	
}

.footer-icon{
	height: 70px;
}

.insertIcon{
	height: 64px;
	width : 64px;
	float: right;
	margin-right :20px;
	cursor: pointer;
}

.insertImg{
	cursor: pointer;
}