@charset "UTF-8";

*{
 padding: 0px;
 margin: 0px;
}

#Left-Side{
	float: left;
	width: 450px;
	height: 640px;
}

#Right-Side{
	float: right;
	width: 100%;
	height: 100%;
}

#IMG1{
	height: 420px;
	width: 440px;
	margin : auto;
	margin-bottom : 10px;
	background-size: contain;
 	background-repeat: no-repeat;
 	background-position: center;
}

#TXT1{
	border: 1px solid #ebebeb;
	border-radius: 5px;
	margin: auto;
	height: 190px;
	width: 447px;
	position: absolute;
	padding: 5px;
}

#RS_Container_1{
	height: 225px;
	margin-top: 30px;
}

#RS_Container_2{
	height: 225px;
	margin-top: 80px;
}

#TXT2, #TXT3, #TXT4{
	border: 1px solid #e5e5e5;
	border-radius: 5px;
	padding: 5px;
	height: 235px;
	width: 132px;
}

#TXT2{
	float: left;
}

#TXT3{
	float: left;
	margin: 0px 4px 0px 4px;
}

#TXT4{
	float: left;
}

#IMG2{
	height: 254px;
	width: 260px;
	float: left;
 	margin: 0px 10px 0px 0px; 
	background-size: contain;
 	background-repeat: no-repeat;
 	background-position: center;
}

#txt1, #txt2, #txt3, #txt4{
	font-size: medium;
}

#IMG3{
	height: 254px;
	width: 170px;
	float: left;
	background-size: contain;
 	background-repeat: no-repeat;
 	background-position: center;
}

/* 2번째 폼  */

#Left-Side2{
	float: left;
	width: 460px;
	height: 640px;
}

#Right-Side2{
	float: right;
	width: 100%;
	height: 100%;
}

#LS_TContainer2{
	margin-top : 50px;
	width: 220px;
	height: 552px;
	float: left;
}

#LS_IContainer2{
	margin-top : 50px;
	width: 230px;
	height: 552px;
 	float: right;
}

#TXT21{
	border: 1px solid #ebebeb;
	border-radius: 5px;
	padding: 5px;
	width: 230px;
	height: 542px;
	margin: 0px;
}

#IMG21{
	margin-left : 15px;
	float: none;
	height: 172px;
	width: 215px;	
	background-size: contain;
 	background-repeat: no-repeat;
 	background-position: center;
}

#IMG22{
	margin-left : 15px;
	float: none;
	height: 172px;
	width: 215px;	
	margin-top: 10px;
	background-size: contain;
 	background-repeat: no-repeat;
 	background-position: center;
}

#IMG23{
	margin-left : 15px;
	float: none;
	height: 172px;
	width: 215px;	
	margin-top: 10px;
	background-size: contain;
 	background-repeat: no-repeat;
 	background-position: center;
}

#IMG24{
	height: 330px;
	width: 440px;	
	margin: 10px 0px 0px 0px;
	background-size: contain;
 	background-repeat: no-repeat;
 	background-position: center;
}

#TXT22{
	border: 1px solid #e5e5e5;
	border-radius: 5px;
	padding: 5px;
	height: 260px;
	width: 440px;
	margin: 15px 0px 0px 0px;
}

/* 3번째  */

#Left-Side3{
	float: left;
	width: 460px;
	height: 640px;
}

#Right-Side3{
	float: right;
	width: 100%;
	height: 100%;
}

#IMG31{
	width: 460px;
	height: 630px;
	background-size: contain;
 	background-repeat: no-repeat;
 	background-position: center;
}

#RS_TContainer3{
	margin-top: 40px;
	width: 210px;
	height: 600px;
	float: left;
}

#RS_IContainer3{
	margin-top: 40px;
	width: 210px;
	height: 600px;
	float: right;
}

#TXT31{
	border: 1px solid #e5e5e5;
	border-radius: 5px;
	padding: 5px;
	height: 174px;
	width: 220px;
}

#TXT32{
	border: 1px solid #e5e5e5;
	border-radius: 5px;
	padding: 5px;
	height : 378px;
	width: 220px;
	margin-top: 20px;
}

#IMG32{
	height: 174px;
	width: 210px;
	margin-left: 10px;
	background-size: contain;
 	background-repeat: no-repeat;
 	background-position: center;
}

#IMG33{
	height: 160px;
	width: 190px;
	margin: 20px 30px 0px 10px;
	background-size: contain;
 	background-repeat: no-repeat;
 	background-position: center;
}

#TXT33{
	border: 1px solid #e5e5e5;
	border-radius: 5px;
	padding: 5px;
	height: 160px;
	width: 190px;
	margin: 10px 30px 0px 10px;
}


/* 4번째꺼 */
#Left-Side4{
	float: left;
	width: 100%;
	height: 100%;
}

#Right-Side4{
	float: right;
	width: 100%;
	height: 100%;
}

#IMG41{
	float: left;
	width: 440px;
	height: 610px;	
	background-size: contain;
 	background-repeat: no-repeat;
 	background-position: center;
}

#TXT41{
	border: 1px solid #e5e5e5;
	border-radius: 5px;
	padding: 5px;
	width: 440px;
	height: 610px;	
}

/* 5번 */
#Left-Side5{
	float: left;
	width: 460px;
	height: 640px;
}

#Right-Side5{
	display:grid;
	grid-template-columns: repeat(2, 1fr);
	grid-gap:10px;
	float: right;
	width: 100%;
	height: 100%;
	margin-top: 15px;
}

#LS_IContainer5{
	width: 460px;
	height: 70%;
}

#IMG51{
	width: 100%;
	height: 100%;
	background-size: contain;
 	background-repeat: no-repeat;
 	background-position: center;
}

#LS_TContainer5{
	margin-top: 10px;
	width: 460px;
	height: 30%;
}

#TXT51{
	border: 1px solid #ebebeb;
	border-radius: 5px;
	padding: 5px;
	width: 280px;
	height: 160px;
}

#RS_ITContainer51{
	height: 100%;
	float: left;
	display:grid;
	grid-gap:10px;
}

#RS_ITContainer52{
	height: 100%;
	float: right;
	display:grid;
	grid-gap:10px;
}

#IMG52, #IMG53{
/* 	width: 220px; */
	height: 174px;
}

#TXT52 {
	border: 1px solid #e5e5e5;
	border-radius: 5px;
	padding: 5px;
	width: 220px;
	height: 174px;
}

#IMG53, #TXT52, #TXT54, #IMG54{
	margin-top: 20px;
}

#TXT53, #TXT54{
	border: 1px solid #e5e5e5;
	border-radius: 5px;
	padding: 5px;
	width: 100%;
	height: 174px;
}

#IMG54{
	width: 100%;
	height: 174px;
}

#IMG52, #IMG53, #IMG54{
	background-size: contain;
 	background-repeat: no-repeat;
 	background-position: center;
}
