@charset "UTF-8";
*{
 padding: 0px;
 margin: 0px;
}
#Left-Side{
	float: left;
	width: 450px;
	height: 640px;
}

#Right-Side{
	float: right;
	width: 450px;
	height: 640px;
}

#IMG1{
	border: 1px solid #ebebeb;
	height: 420px;
	width: 440px;
	margin : auto;
	margin-bottom : 10px;
	background-size: contain;
 	background-repeat: no-repeat;
 	background-position: center;
}

#TXT1{
	margin: auto;
	height: 200px;
	width: 450px;
}

#RS_Container_1{
	height: 225px;
	margin-top: 60px;
}

#RS_Container_2{
	height: 225px;
	margin-top: 80px;
}

#TXT2, #TXT3, #TXT4{
	height: 237px;
	width: 145px;
}

#TXT2{
	float: left;
	margin: 0px 5px 0px 0px;
}

#TXT3{
	float: left;
	margin-right: 5px;
}

#TXT4{
	float: left;
	margin-right: 0px;
}

#IMG2{
	border: 1px solid #e5e5e5;
	height: 254px;
	width: 260px;
	float: left;
 	margin: 0px 10px 0px 0px; 
	background-size: contain;
 	background-repeat: no-repeat;
 	background-position: center;
}

#IMG3{
	border: 1px solid #e5e5e5;
	height: 254px;
	width: 170px;
	float: left;
	background-size: contain;
 	background-repeat: no-repeat;
 	background-position: center;
}


/* 2번째 폼  */

#Left-Side2{
/*  	border: 1px solid black;  */
	float: left;
	width: 460px;
	height: 650px;
	text-align: center; /*참고 문구용 CSS*/
}

#Right-Side2{
/*  	border: 1px solid black;  */
	float: right;
	width: 460px;
	height: 650px;
	text-align: center; /*참고 문구용 CSS*/
}

#LS_TContainer2{
/* 	border: 1px solid black;   */
	width: 220px;
	height: 650px;
	float: left;
}

#LS_IContainer2{
/* 	border: 1px solid black;   */
	width: 220px;
	height: 650px;
 	float: right;
}

#TXT21{
	border: 1px solid black;
	width: 220px;
	height: 540px;
	margin: auto;	
}

#IMG21{
	border: 1px solid black;
	float: none;
	height: 170px;
	width: 220px;	
	background-size: contain;
 	background-repeat: no-repeat;
 	background-position: center;
}

#IMG22{
	border: 1px solid black;
	float: none;
	height: 170px;
	width: 220px;
	margin-top: 10px;
	background-size: contain;
 	background-repeat: no-repeat;
 	background-position: center;
}

#IMG23{
	border: 1px solid black;
	float: none;
	height: 170px;
	width: 220px;
	margin-top: 10px;
	background-size: contain;
 	background-repeat: no-repeat;
 	background-position: center;
}

#IMG24{
	border: 1px solid black;
	height: 330px;
	width: 460px;	
	margin-left : 20px;
	background-size: contain;
 	background-repeat: no-repeat;
 	background-position: center;
}

#TXT22{
	border: 1px solid black;
	height: 260px;
	width: 460px;
	margin: 5px 20px 20px;
}

/* 3번째  */

#Left-Side3{
/*  	border: 1px solid black;  */
	float: left;
	width: 460px;
	height: 650px;
	text-align: center; /*참고 문구용 CSS*/
}

#Right-Side3{
/*  	border: 1px solid black;  */
	float: right;
	width: 460px;
	height: 650px;
	text-align: center; /*참고 문구용 CSS*/
}

#IMG31{
	border: 1px solid black;
	width: 460px;
	height: 630px;
	margin-left: 5px;
	margin-top: 5px;
	background-size: contain;
 	background-repeat: no-repeat;
 	background-position: center;
}

#RS_TContainer3{
/* 	border: 1px solid black; */
	width: 220px;
	height: 650px;
	float: left;
}

#RS_IContainer3{
/* 	border: 1px solid black; */
	width: 220px;
	height: 650px;
	float: right;
	margin-right: 10px;
}

#TXT31{
	border: 1px solid black;
	height: 230px;
	width: 174px;
	margin: auto;
	margin-top: 20px;
}

#TXT32{
	border: 1px solid black;
	height : 360px;
	width: 220px;
	margin: auto;
	margin-top: 20px;
}

#IMG32{
	border: 1px solid black;
	height: 170px;
	width: 220px;
	margin: auto;
	margin-top: 20px;
	background-size: contain;
 	background-repeat: no-repeat;
 	background-position: center;
}

#IMG33{
	border: 1px solid black;
	height: 160px;
	width: 200px;
	margin: 20px;
	background-size: contain;
 	background-repeat: no-repeat;
 	background-position: center;
}

#TXT33{
	border: 1px solid black;
	height: 160px;
	width: 200px;
	margin: 20px;
}


/* 4번째꺼 */
#Left-Side4{
/*  	border: 1px solid black;  */
	float: left;
	width: 460px;
	height: 620px;
	text-align: center; /*참고 문구용 CSS*/
}

#Right-Side4{
/*  	border: 1px solid black;  */
	float: right;
	width: 460px;
	height: 620px;
	text-align: center; /*참고 문구용 CSS*/
}

#IMG41{
	border: 1px solid black;  
	float: left;
	width: 450px;
	height: 600px;	
	background-size: contain;
 	background-repeat: no-repeat;
 	background-position: center;
}

#TXT41{
	border: 1px solid black;  
	float: left;
	width: 450px;
	height: 600px;
	margin-left: 20px;	
}

/* 5번 */
#Left-Side5{
/*  	border: 1px solid black;  */
	float: left;
	width: 460px;
	height: 650px;
	text-align: center; /*참고 문구용 CSS*/
}

#Right-Side5{
/*  	border: 1px solid black;  */
	float: right;
	width: 460px;
	height: 650px;
	text-align: center; /*참고 문구용 CSS*/
}

#LS_IContainer5{
/* 	border: 1px solid black; */
	width: 460px;
	height: 400px;
	margin: auto;
}

#IMG51{
	border: 1px solid black;
	width: 460px;
	height: 400px;
	margin: auto;
	margin-top: 10px;
	background-size: contain;
 	background-repeat: no-repeat;
 	background-position: center;
}

#LS_TContainer5{
/* 	border: 1px solid black; */
	width: 460px;
	height: 230px;
	margin: auto;
	margin-top: 10px;
}

#TXT51{
	border: 1px solid black;
	width: 300px;
	height: 200px;
	margin-top: 20px;
	margin-left: 10px;
}

#RS_ITContainer51{
/* 	border: 1px solid black; */
	width: 230px;
	height: 650px;
	float: left;
}

#RS_ITContainer52{
/* 	border: 1px solid black; */
	width: 230px;
	height: 650px;
	float: right;
}

#IMG52, #TXT52, #IMG53{
	border: 1px solid black;
	width: 200px;
	height: 200px;
	margin: 10px 0px 0px 30px;
}

#TXT53, #IMG54, #TXT54{
	border: 1px solid black;
	width: 200px;
	height: 200px;
	margin: 10px;
}

#IMG52, #IMG53, #IMG54{
	background-size: contain;
 	background-repeat: no-repeat;
 	background-position: center;
}
