@charset "UTF-8";
*{
 padding: 0px;
 margin: 0px;
}
#Left-Side{
/*  	border: 1px solid black;  */
	float: left;
	width: 50%;
	height: 100vh;
	text-align: center; /*참고 문구용 CSS*/
}

#Right-Side{
/*  	border: 1px solid black;  */
	float: right;
	width: 49%;
	height: 100vh;
	text-align: center; /*참고 문구용 CSS*/
}

#LS_IContainer{
/* 	border: 1px solid black; */
	width: 97%;
	height: 60%;
	margin: auto;
}

#IMG1{
	border: 1px solid black;
	width: 100%;
	height: 100%;
	margin: auto;
	margin-top: 10px;
	background-size: contain;
 	background-repeat: no-repeat;
 	background-position: center;
}

#LS_TContainer{
/* 	border: 1px solid black; */
	width: 97%;
	height: 35%;
	margin: auto;
	margin-top: 10px;
}

#TXT1{
	border: 1px solid black;
	width: 60%;
	height: 80%;
	margin-top: 20px;
	margin-left: 10px;
}

#RS_ITContainer1{
/* 	border: 1px solid black; */
	width: 49%;
	height: 100%;
	float: left;
}

#RS_ITContainer2{
/* 	border: 1px solid black; */
	width: 49%;
	height: 100%;
	float: right;
}

#IMG2, #TXT2, #IMG3{
	border: 1px solid black;
	width: 90%;
	height: 30%;
	margin: 15px 0px 0px 30px;
}

#TXT3, #IMG4, #TXT4{
	border: 1px solid black;
	width: 90%;
	height: 30%;
	margin: 15px;
}

#IMG2, #IMG3, #IMG4{
	background-size: contain;
 	background-repeat: no-repeat;
 	background-position: center;
}