@charset "UTF-8";
*{
 padding: 0px;
 margin: 0px;
}
#Left-Side{
/*  	border: 1px solid black;  */
	float: left;
	width: 50%;
	height: 100vh;
	text-align: center; /*참고 문구용 CSS*/
}

#Right-Side{
/*  	border: 1px solid black;  */
	float: right;
	width: 49%;
	height: 100vh;
	text-align: center; /*참고 문구용 CSS*/
}

#IMG1{
	border: 1px solid black;
	width: 98%;
	height: 98%;
	margin-left: 5px;
	margin-top: 5px;
	background-size: contain;
 	background-repeat: no-repeat;
 	background-position: center;
}

#RS_TContainer{
/* 	border: 1px solid black; */
	width: 50%;
	height: 98%;
	float: left;
}

#RS_IContainer{
/* 	border: 1px solid black; */
	width: 48%;
	height: 98%;
	float: right;
	margin-right: 10px;
}

#TXT1{
	border: 1px solid black;
	height: 27%;
	width: 80%;
	margin: auto;
	margin-top: 90px;
}

#TXT2{
	border: 1px solid black;
	height : 55%;
	width: 80%;
	margin: auto;
	margin-top: 20px;
}

#IMG2{
	border: 1px solid black;
	height: 27%;
	width: 90%;
	margin: auto;
	margin-top: 90px;
	background-size: contain;
 	background-repeat: no-repeat;
 	background-position: center;
}

#IMG3{
	border: 1px solid black;
	height: 25%;
	width: 60%;
	margin: 20px;
	background-size: contain;
 	background-repeat: no-repeat;
 	background-position: center;
}

#TXT3{
	border: 1px solid black;
	height: 25%;
	width: 60%;
	margin: 20px;
}