html, body {
	width: 100%;
	height: 100%;
	margin: 0px;
}

/*가로 가운데 정렬 및 전체 레이아웃을 잡기 위한 div*/
.main-wrapper {
	width: 1276px;
	height: 930px;
	margin: auto;
}

.sidebar-menu { /*사이드바 레이아웃 div*/
	position: absolute;
	background-color: #5f6d7e;
	color: white;
	width: 276px;
	height: 930px;
	padding: 20px;
	box-sizing: border-box;
}
/* 사이드바 이미지 영역 div 스타일 */
.top-section {
	margin-top: 100px;
	height: 236px;
	width: 236px;
	padding: 28px;
	box-sizing: border-box;
}
/* 사이드바 이미지 스타일 */
.profile-image {
	height: 180px;
	width: 180px;
	background: url("../img/제주배경임.png");
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	-webkit-border-radius: 125px;
	border-radius: 125px;
	background-position: center;
	background-size: cover;
}

.menu-navigation {
	padding-top: 20px;
	padding-left: 28px;
	padding-right: 28px;
}

.navigation>li {
	margin-bottom: 20px;
	list-style: none;
}

.main-navigation li a {
	color: white;
	text-decoration: none;
}

.chatting {
	margin-top: 70px;
	background-color: white;
	width: 236px;
	height: 131px;
}

/* iframe 스타일 */
iframe {
	frameborder: 0;
	width: 100%;
	height: 100%;
	marginwidth: 0px;
	marginheight: 0px;
	scrolling: yes;
}



/*------------------------------- index 페이지 ------------------------------- */

/*header*/
.content-wrapper {
	position: relative;
	left: 276px;
	width: 1000px;
}
/*헤더 그림 스타일  */
.banner-bg {
	background: url("../img/제주도.png");
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	width: 1000px;
	height: 230px;
}

/* index 페이지  콘텐츠 영역 감싸는 div */
.main-lpcontents {
	background-color: white;
	box-sizing: border-box;
	padding: 20px;
	width: 1000px;
	height: 650px;
}

.lpcontents {
	background-color: white;
	box-sizing: border-box;
	padding: 20px;
	width: 1000px;
	height: 880px;
}
/* index 페이지 콘텐츠 영역 스타일 */
.content {
	background-color: pink;
	height: 100%;
}

/* index 페이지 테마별 스케치북 div 4개 감싸는 div */
.mainSketchTheme {
	width: 960px;
	height: 540px;
	margin: 0 20px 0 20px;
}

/* index 페이지 테마별 스케치북 div 2개 감싸는 div */
.halfMainSketchTheme {
	width: 100%;
	height: 260px;
	margin: 0 0 20px;
	/* position: relative;
	display: inline-block; */
}


/* index 페이지 각 테마별 스케치북 1개 div */
.sketchTheme {
	width: 450px;
	height: 260px;
	border: 1px solid black;
	overflow: hidden;
	position: relative;
	display: inline-block; 
	background-size : contain;
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;
}

/* index 페이지 스케치북 테마별 div hover*/
.sketchTheme:hover .sketchTheme_hover {
	top: 0;
	opacity: 1;
	visibility: visible;
}

/* index 페이지스케치북 테마별 div hover div의 css*/
.sketchTheme_hover {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 20px;
	left: 0;
	background: rgba(0, 0, 0, 0.6);
	opacity: 0;
	visibility: 0;
	-webkit-transition: all 200ms linear;
	-moz-transition: all 200ms linear;
	-ms-transition: all 200ms linear;
	-o-transition: all 200ms linear;
	transition: all 200ms linear;
}

/* hover div의  css*/
.hover_inside {
	position: absolute;
	width: 100%;
	top: 100px;
	left: 0;
	bottom: 0;
	padding: 20px;
}

.hover_inside h5 {
	color: white;
}

.hover_inside span {
	color: white;
}


/*-------------푸터 스타일------------------  */
.footer {
	box-sizing: border-box;
	background-color: black;
	width: 1000px;
	height: 50px;
	padding: 10px 20px;
	text-align: center;
	color: white;
}


/*----------------------------------- index 페이지 ------------------------------------ */









/*---------------------- 모달 css ---------------------- */
.modal-input {
	/* float: right; */
	
}

.modal-content {
	color: black;
}

/* 스케치북 커버이미지 div */
#moSketchBookCover {
	width: 300px;
	height: 100px;
}

/* 스케치북 커버이미지 div의 이미지 영역 */
#modalIMG1 {
	border: 1px solid black;
	width: 200px;
	height: 100px;
	/* float: left; */
	margin: 0px 20px 30px 20px;
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
}

/* 라디오버튼 숨기기 */
.themeradio input[type=radio] {
	display: none;
	margin: 10px;
}
/* 라디오버튼 직사각형 버튼 모양 만들기 */
.themeradio input[type=radio]+label {
	display: inline-block;
	margin: -2px;
	padding: 8px 19px;
	background-color: #f5f5f5;
	border: 1px solid #ccc;
	font-size: 13px !important;
	width: 80px;
	text-align: center;
}

/* 선택한 라디오버튼 배경색 변경 */
.themeradio>input[type=radio]:checked+label {
	background-image: none;
	background-color: #3598dc;
	color: #fff;
}

/*-------------------------- 모달 css --------------------------- */






/* ---------------------스케치북 테마별 div ----------------- */

/*스케치북 3개 감싸는 div */
.sketchBookContainer {
	width: 100%;
	height: 230px;
	/* 	margin: 0 0 20px; */
	display: flex;
/* 	justify-content: space-around; */
	margin : 20px;
}





/* ---------------------스케치북 테마별 div ----------------- */

/*--------- 선택한 테마의 스케치북 조회-------------------  */

/*스케치북 9개 감싸는 div */
.sketchBookContent {
	width: 900px;
	height: 760px;
	/* padding: 0 30px; */
	margin: 0 30px;
}

/* 스케치북 1개 감싸는 div */
.selectTheme {
	width: 280px;
	height: 230px;
	border: 1px solid black;
	margin: 0 0 0 10px;
	overflow: hidden;
	position: relative;
	display: inline-block;
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
}

.selectTheme:hover .sketchTheme_hover {
	top: 0;
	opacity: 1;
	visibility: visible;
}

/*--------- 선택한 테마의 스케치북 조회-------------------  */

