@charset "UTF-8";
#jqGridDiv{
	height: 642px;
	padding: 30px 60px 30px 60px;
}

#selectId{
	border: 0px;
	width: 70px;
	height: 30px;
	margin: 20px 10px 20px 0px;
}

#input{
	border: 0px;
	width: 150px;
	height: 30px;
	margin: 20px 10px 20px 10px;
}

#inputBtn{
	border: 0px;
	width: 60px;
	height: 30px;
	margin: 20px 10px 20px 10px;
}

#memBtn, #sketBtn{
	background-color: #079df8;
	color: white;
	padding: 0px;
	margin: 0px;
	width: 100px;
	height: 60px;
	font-size: 11px;
}

#memBtn{
	margin-right: 20px;
}