@charset "UTF-8";

#container{
	position: relative;
	top: 50px;
	left: 150px;
	width: 1000px;
	background-image: url("../image/img.png");
}

#title{
	position: relative;
}

#titleImage{
	width: 950px;
/* 	height: 70px; */
}

#info{
	position: relative;
	margin-top: 5px;
	width: 950px;
	height: 550px;
}

#LeftInfo{
/* 	border: 1px solid gray; */
	float: left;
	width: 230px;
	height: 550px;
	margin-left: 20px;
	margin-right: 50px;
	margin-top: 10px;
	font-weight: bold;
	font-size: 40px;
}

#CenterInfo{
	border: 1px solid black;
	width: 700px;
}

#nickname, #pw, #passOK, #email {
	margin-bottom: 0px;
	width: 250px;
	height: 20px;
	padding: 15px;
}

#line{
	border-bottom: 2px solid gray;
	position: relative;
	left: 20px; /*position을 잡았을 때만 사용 left, top .. 등 */
	width: 800px;
	height: 20px;
}

#bottom{
	width: 700px;
	position: relative;
	left: 0px;
	color: gray;
	font-size: 11px;
}

#button{
	position: relative;
	margin-top: 40px;
	left: 0px;
}