@charset "UTF-8";

.lp-container {
	width:
}

.test {
	padding: 0.5rem 1rem;
	margin: 0 0.5rem;
	display: block;
	color: #3a3b45;
	text-decoration: none;
	border-radius: 0.35rem;
	white-space: nowrap;
}