@charset "UTF-8";

@font-face {
	font-family: './fonts/JejuHallasan';
	src: url('./fonts/JejuHallasan.eot');
	src: url('./fonts/JejuHallasan.eot?#iefix') format('embedded-opentype'),
		url('./fonts/JejuHallasan.svg#./fonts/JejuHallasan') format('svg'),
		url('./fonts/JejuHallasan.ttf') format('truetype'),
		url('./fonts/JejuHallasan.woff') format('woff'),
		url('./fonts/JejuHallasan.woff2') format('woff2');
	font-weight: normal;
	font-style: normal;
}

.sidebar-brand-text { /* 적용이 안됨 */
	font-family: 'JejuHallasan' !important;
}

#content-wrapper {
	flex: 3;
}

.lp-container {
	flex: 1; /* 사이드바의 나머지 영역을 가득 채우기 위함 */
	display: flex;
	justify-content: center; /* 자식 요소 정렬 */
	align-items: center;
}

.lp-content {
	display: flex;
	justify-content: center;
	min-width: 1000px;
	width: 1000px;
	height: 650px;
	background: white;
	box-sizing: border-box;
	padding: 20px;
	border-radius: 0.4rem !important;
	padding: 20px;
	width: 1000px;
}

/* index 페이지 그리드 레이아웃*/
.lp-grid-container {
	width: 100%;
	display: grid; /*하위 요소들은 grid로 정렬*/
	grid-template-columns: repeat(2, 1fr);
	/* 	grid-auto-rows: minmax(3em, auto); background : pink; */
	grid-gap: 1rem;
}

img {
	width: 100%; /* need to overwrite inline dimensions */
	height: auto;
}

h2 {
	margin-bottom: .5em;
}

.grid-container {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
	grid-gap: 1em;
}

/* hover styles */
.location-listing {
	position: relative;
}

.location-image {
	line-height: 0;
	overflow: hidden;
}

.location-image img {
	filter: blur(0px);
	transition: filter 0.3s ease-in;
	transform: scale(1.1);
}

.location-title {
	font-size: 1.5em;
	font-weight: bold;
	text-decoration: none;
	z-index: 1;
	position: absolute;
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
	opacity: 0;
	transition: opacity .5s;
	background: rgba(0, 0, 0, 0.6);
	color: white;
	/* position the text in t’ middle*/
	display: flex;
	align-items: center;
	justify-content: center;
}

.location-listing:hover .location-title {
	opacity: 1;
}

.location-listing:hover .location-image img {
	filter: blur(2px);
}

/* for touch screen devices */
@media ( hover : none) {
	.location-title {
		opacity: 1;
	}
	.location-image img {
		filter: blur(2px);
	}
}

/* for touch screen devices */
@media ( hover : none) {
	.location-title {
		opacity: 1;
	}
	.location-image img {
		filter: blur(2px);
	}
}

/* 사이드 바의 버튼 감싸는 div */
.lp-nav-btn {
	width: 100%;
	text-align: center;
	margin: 0 0 1rem 0;
	padding: 0 1rem;
}

.lp-write-btn {
	width: 100%;
}

.btn-sl {
	font-size: 0.85rem !important;
}

.btn-ss {
	font-size: 0.65rem;
}

/* 사이드바의 채팅 div */
.nav-chat { /**/
	padding: .5rem 0;
	/* 	min-width: 10rem; */
	font-size: 0.85rem;
	padding-bottom: 0.5rem !important;
	padding-top: 0.5rem !important;
	margin: 0 1rem 1rem;
}

.lp-chatlist { 채팅 리스트 div
	height: 100%;
	width: 100%;
}

/* 사이드바가 줄어들었을 때 버튼과 채팅 영역 변경 */
@media ( max-width : 768px) {
	.nav-chat {
		display: none;
	}
	.btn-ss {
		font-size: 0.65rem !important;
	}
}

/*---------------- 모달 스타일 ---------------------- */
.modal-input {
	/* float: right; */
	
}

.modal-content {
	color: black;
}

/* 스케치북 커버이미지 div */
#moSketchBookCover {
	width: 300px;
	height: 100px;
}

/* 스케치북 커버이미지 div의 이미지 영역 */
#modalIMG1 {
	border: 1px solid black;
	width: 200px;
	height: 100px;
	/* float: left; */
	margin: 0px 20px 30px 20px;
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
}

/* 라디오버튼 숨기기 */
.themeradio input[type=radio] {
	display: none;
	margin: 10px;
}
/* 라디오버튼 직사각형 버튼 모양 만들기 */
.themeradio input[type=radio]+label {
	display: inline-block;
	margin: -2px;
	padding: 8px 19px;
	background-color: #f5f5f5;
	border: 1px solid #ccc;
	font-size: 13px !important;
	width: 80px;
	text-align: center;
}
/* 선택한 라디오버튼 배경색 변경 */
.themeradio>input[type=radio]:checked+label {
	background-image: none;
	background-color: #3598dc;
	color: #fff;
}

/*---------------- 모달 스타일 ---------------------- */